.navbar {
    .navbar-brand {
        img {
            height: 31px;
        }
    }
}

.nav-menu {
    .nav-item {
        margin-right: 36px;
        height: 100%;
        align-items: center;
        display: flex;
        position: relative;
        a {
            text-decoration: none;
            color: white;
        }
        &:hover {
            .menu-sub {
                opacity: 1;
                top: 100%;
            }
            a {
                color: #ff6400;
            }
        }
        .menu-sub {
            z-index: 100;
            width: 300%;
            background-color: rgba(29, 29, 29, 0.9);
            position: absolute;
            opacity: 0;
            top: -600%;
            list-style-type: none;
            padding: 4px 15px 15px 15px;
            .menu-item {
                padding: 10px 0;
                position: relative;
                a {
                    display: flex;
                    font-size: 13px;
                    height: 100%;
                    align-items: center;
                    color: #ddd;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    background-color: #cdcdcd;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}