.body-account {
    width: 100%;
    position: relative;
    min-height: 80vh;
    padding-bottom: 50px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        background-position: center center;
        background-size: cover;
        left: 0;
        z-index: -1;
        opacity: 0.9;
        width: 100%;
        bottom: 0;
        filter: blur(5px);
        background: url(https://member.aorus.com/images/bg2/AORUS-PC-01.jpg);
    }
    .body-account-content {
        .avatar-member {
            width: 144px;
            height: 144px;
            margin: 0 auto;
            border: 3px solid #ff6400;
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
            img {
                object-fit: cover;
                transition: all 0.3s;
            }
        }
        .member-input {
            background-color: #282828;
            height: 50px;
            border: none;
            color: #fff;
            &::placeholder {
                color: #999;
                font-family: var(--font-ubun);
            }
            &:focus {
                border: 1px solid #ff6400;
            }
            &::after,
            &::before {
                display: none;
            }
        }
    }
}