.specification {
    background-color: #000;
    height: 100%;
    padding: 3vh 0;
    table {
        tr {
            td {
                color: white;
                font-family: var(--font-family-Ti);
            }
        }
    }
}