#functions {
    #name-product,
    #price-product,
    #description-product,
    #img-product {
        background-color: #fff;
        color: #333;
        height: 30px;
    }
    .label-add {
        color: #333;
        font-size: 16px;
    }
}