#login-form {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    .login-form-content {
        width: 960px;
        height: 678px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 177px 130px 33px 95px;
        .form {
            width: 290px;
            .wapper-input {
                position: relative;
                height: 50px;
                #email,
                #password,
                #re-password {
                    font-family: Poppins-Medium;
                    font-size: 15px;
                    line-height: 1.5;
                    color: #666;
                    display: block;
                    width: 100%;
                    background: #e6e6e6;
                    height: 50px;
                    border-radius: 25px;
                    padding: 0 30px 0 68px;
                    font-weight: bold;
                    &::placeholder {
                        font-weight: bold;
                        color: rgb(146, 143, 143);
                    }
                    &:focus {
                        border: none;
                    }
                }
                i {
                    position: absolute;
                    z-index: 4;
                    left: 40px;
                    top: 50%;
                    color: rgba(87, 184, 70, 0.8);
                    transform: translateY(-50%);
                }
            }
            .btn-submit {
                font-size: 15px;
                line-height: 1.5;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                width: 100%;
                height: 50px;
                border-radius: 25px;
                background: #57b846;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 25px;
                transition: all 0.4s;
                &:hover {
                    background-color: #333;
                }
            }
            .forgot-1 {
                span {
                    color: #999;
                    a {
                        color: #666;
                    }
                    &:hover {
                        a {
                            color: #57b846;
                        }
                    }
                }
            }
            .create-account {
                color: #666;
                &:hover {
                    color: #57b846;
                }
            }
        }
    }
}