#footer {
    background-color: #131313;
    padding: 30px 0;
    width: 100%;
    height: auto;
    .nav {
        .nav-item {
            &:hover {
                .nav-link {
                    color: var(--color-orange);
                }
            }
            .nav-link {
                color: #dddd;
            }
        }
    }
    hr {
        color: #333;
    }
    .copyright {
        color: #dddd;
    }
}